<header class="component-header">
    <div class="container-fluid">
        <div class="row">
            <div class="logo">
                <div class="row">
                    <div class="col-xs-6">
                        <a href="/">
                            <img src="{{ '/assets/img/logo.png' | relative_url }}" alt="logo">
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <span>Whatever You ride or crash</span>
                    </div>
                    <div class="col-12">
                        <span>/Kit de réparation POUR RAYURES DE PLONGEUR//</span>
                    </div>
                </div>
            </div>
            <div class="lang">
                <a href="/">EN</a>
            </div>
        </div>
    </div>
</header>
